<div class="container">
  <div class="footer-wrapper">
    <img (click)="goToContactPage()" class="logo" src="/assets/logo-s-white-128.png">
    <p class="quote">Try to be 1% better today than you were yesterday</p>
    <div class="linkedin">
      <a href="https://www.linkedin.com/in/stefan-stefan-48b239208/" target="_blank">
        <img class="image-purple">
      </a>
    </div>
    <p class="handcrafted">Handcrafted by me &#9400;{{currentYear}}</p>
    <div class="powered-by-angular">
      <p>Powered by</p>
      <a href="https://angular.io/" target="_blank"><img src="/assets/angular-logo.png"></a>
    </div>
  </div>
</div>