<div class="container">
  <app-navbar></app-navbar>

  <div class="content">
    <div class="presentation">
      <p class="roles">Full Stack Developer & Game Dev</p>
      <p class="i-love-what-i-do">I love writing clean code and I have a keen artistic eye, and I love what I do.</p>
      <img class="avatar" src="/assets/me-avatar-512.png">
      <img class="computer" src="/assets/computer.png">
    </div>
    <div class="skills-section">
      <div class="introduction">
        <p class="introduction-1">Hi, I’m Stefan. Nice to meet you.</p>
        <p class="introduction-2">Throughout my software engineering career, 
          I have had the privilege to learn to work with various technologies.
          I possess confidence in my skills, a natural curiosity, and an unwavering
          commitment to continuously enhancing my skills, tackling design problems, 
          and refining my expertise in full stack engineering.</p>
      </div>
      <div class="skills-section-spacer">

      </div>
      <div class="skills">
        <div class="skill-card-1">
          <img src="/assets/skill-backend-128.png">
          <p class="skill-title">Backend Developer</p>
          <p class="skill-description">I build and maintain server-side infrastructure for software applications.</p>
          <p class="skill-languages-i-speak">Languages I speak:</p>
          <p class="skill-language">C#</p>
          <p class="skill-language">Java</p>
          <p class="skill-language">Python</p>
          <p class="skill-used-frameworks">Frameworks I use:</p>
          <p class="skill-framework">.NET</p>
          <p class="skill-framework-bottom">Spring Boot</p>
        </div>
        <div class="skill-card-2">
          <img src="/assets/skill-frontend-128.png">
          <p class="skill-title">Frontend Developer</p>
          <p class="skill-description">I love coding from scratch and turning ideas into browser-based reality.</p>
          <p class="skill-languages-i-speak">Languages I speak:</p>
          <p class="skill-language">Javascript</p>
          <p class="skill-used-frameworks">Frameworks I use:</p>
          <p class="skill-framework">Angular</p>
          <p class="skill-framework">React.js</p>
          <p class="skill-framework-bottom">Vue.js</p>
        </div>
        <div class="skill-card-3">
          <img src="/assets/skill-gamedev-128.png">
          <p class="skill-title">Game Developer</p>
          <p class="skill-description">I craft immersive interactive experiences, blending creativity and technology to bring captivating games to life.</p>
          <p class="skill-languages-i-speak">Languages I speak:</p>
          <p class="skill-language">C#</p>
          <p class="skill-used-frameworks">Frameworks I use:</p>
          <p class="skill-framework-bottom">Unity</p>
        </div>
      </div>
    </div>
    <div class="worked-for">

    </div>
  </div>

  <app-footer></app-footer>
</div>
