<div class="container">
  <app-navbar></app-navbar>

  <div class="content">
    <div class="presentation">
      <p class="roles">Full Stack Developer & Game Dev</p>
      <p class="i-love-what-i-do">I love writing clean code and I have a keen artistic eye, and I love what I do.</p>
      <img class="avatar" src="/assets/me-avatar-512.png">
      <img class="computer" src="/assets/computer.png">
    </div>
    <div class="skills-section">
      <div class="introduction">
        <p class="introduction-1">Hi, I’m Stefan. Nice to meet you.</p>
        <p class="introduction-2">Throughout my software engineering career, 
          I have had the privilege to learn to work with various technologies.
          I possess confidence in my skills, a natural curiosity, and an unwavering
          commitment to continuously enhancing my skills, tackling design problems, 
          and refining my expertise in full stack engineering.</p>
      </div>
      <div class="skills-section-spacer">

      </div>
      <div class="skills">

      </div>
    </div>
    <div class="worked-for">

    </div>
  </div>

  <app-footer></app-footer>
</div>
